page-grimoire {
	padding: 0px !important;
	.spell {
		width: 80%;
		height: 80px;
		display: inline-block;
		margin: 5px;
		border-radius: 10px;
		span {
			display: block;
			margin: 0 auto;
		}
	}
}

ion-content {
	padding: 0px !important;
	text-align: center;
}